<div class="row">
  <div class="w3-card-4" id="leftCard">
    <header class="w3-container w3-blue">
      <h3>Forecast</h3>
    </header>
    <div class="w3-container">
      <br>
      <i class="wi wi-day-sunny"></i>
      <p style="font-size:70px;" style="text-align:right;" id="temp"></p>
      <h2 id="card1" style="text-align:left;"></h2>
    </div>
  </div>
</div>

<br>
<br>
<hr>

<!-- Pocket -->
<div class="row">
  <div class="w3-card-4" id="leftCard">
    <header class="w3-container w3-blue">
      <h3>Pocket</h3>
    </header>
    <div class="w3-container">
      <br>
      <i class="fa fa-get-pocket" aria-hidden="true"></i>
      <p style="font-size:70px;" style="text-align:right;" id="pocket"></p>
      <h2 id="card1" style="text-align:left;"></h2>
    </div>
  </div>
</div>
