<div class="row">
  <div class="w3-card-4" id="leftCard">
    <header class="w3-container w3-blue">
      <h3>Forecast</h3>
    </header>
    <div class="w3-container">
      <br>
      <i class="wi wi-day-sunny"></i>
      <p style="font-size:70px;" style="text-align:right;" id="temp"></p>
      <h2 id="card1" style="text-align:left;"></h2>
    </div>
    <footer class="w3-container w3-blue">
    </footer>
  </div>
    <div class="w3-card-4" id="middleCard">
    <header class="w3-container w3-blue">
      <h3>Notes</h3>
    </header>
    <!-- Notes -->
    <div ng-controller="homeController" class="w3-container">
      <br>
      <i class="fa fa-file"></i>
      <ul>
        <li>item</li>
      </ul>
      <h2 id="card1" style="text-align:left;">more text</h2>
    </div>
    <footer class="w3-container w3-blue">
    </footer>
    </div>
  </div>

