<div ng-controller="userController" class="container-fluid container-form">
  <hr>
  <form ng-submit="createUser()" id="form1" role="form">
    <!-- Name -->

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" ng-model="userName">
    </div>

    <!-- Username -->

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" ng-model="userUname">
    </div>

    <!-- Passowrd -->

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" ng-model="userPassword">
    </div>

    <!-- Submit -->

    <div class="form-group"> 
      <div class="col-sm">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <hr>
  </div>

  <script type="text/javascript">
      $('#form1').validate({
    rules: {
      name: {
        required  : true,
        minlength : 3
      },
      username : {
        required   : true,
        minlength  : 3
      },
      password : {
        required  : true,
        minlength : 3
      }
    },
    messages: {
      name     : "please enter your name",
      username : "Please enter a valid username",
      password : "Please enter a valid password"
    }
  });
  </script>