/*body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}*/

*
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 50;
}

a, u {
    text-decoration: none !important;
}

/* Default */
  .navbar-default
  {
    background-color: #1976D2;
    border-radius: 0 !important;
    border: 0;

  }
/* Brand */
  .navbar .navbar-brand
  {
    color:white;
  }
  .navbar .navbar-brand:visited
  {
    color:white;
  }
  .navbar .navbar-brand:hover
  {
    color:white;
    background-color: #0059b4;
  }

/* List */
  .navbar .nav > li > a
  {
    color: white;
  }
  .navbar .nav > li > a:visited
  {
    color: white;
  }
  .navbar .nav > li > a:hover
  {
    color: white;
    background-color: #0059b4;
  }
  .navbar .nav > li.active > a
  {
    background-color: #0059b4;
    color: white;
  }
  .navbar .nav > li.active > a:visited
  {
    background-color: #0059b4;
    color: white;
  }
  .navbar .nav > li.active > a:hover
  {
    background-color: #0059b4;
    color: white;
  }

  /* W3 Cards */

  #leftCard
  {
   display: inline-block;
   width: 300px;
   margin-left: 30px;
  }

  #middleCard
  {
    display: inline-block;
    width: 300px;
    margin-left: 30px;
  }
  
  .w3-card-4 .w3-blue
  {
    background-color: #2196F3 !important;
  }
  .w3-card-4 .w3-blue:hover
  {
    background-color: #0059b4 !important;
  }

  /* Weather Icons */

  .wi-day-sunny
  {
    color: #FFEB3B;
    font-size:50px;
  }

/* Sidebar */ 

#sidebar
{
  background-color: #424242;
  position: fixed;
  height: 500px;
  width: 90px;
  padding-bottom: 50px;
}

#navigation 
{
  color: white;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

#navigation > li
{
  text-align: left;
  margin: 0 0 10px 0;
  padding: 0.6em 0 0.6em 0.6em;
}

#navigation > li:hover
{
  background-color: #1E88E5;
}

#navigation > li >a:link
{
  color: white;
}

#navigation > li >a:visited
{
  color: white;
}

#navigation > li > a:hover
{
  color: white;
}

/* Sidebar
////////////// */
#main-content
{
  /*Find better way to push content over*/
  margin-left: 120px;
  min-height: 100px;

}

footer
{
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #3a3a3a;
  color: white; 
 /* z-index: 2000;*/
}

#footerText
{
  position: absolute;
  width: 100%;
  text-align: left;
  bottom: 0;
  height: 15px;
}
