*
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 50;
}

a, u {
    text-decoration: none !important;
}

/* Body Background */

body
{
 background-color: #F7F7F7 !important;
}

/* Top Nav */

.logo
{
  display: inline-block;
  width: 48px;
  height: 48px;
}

.top-nav
{
  background-color: #303F9F;
  height: 55px;
}

#user-nav
{
  
  display: inline-block;  
}

#user-nav > li
{
    
}

.user-nav
{
  display: inline-block;
  float: right;
  margin: 15px 0 0 0;
  color: white;
}

.user-nav ul > li
{
  display: inline-block;
  padding: 0 10px 0 0;
}

/* Middle Nav */ 

.middle-nav
{
  height: 50px;
  background-color: #3F51B5;
}

#main-nav
{
  display: inline-block;
}

#main-nav > ul > li
{
  display: inline-block;
}

#menu-main-menu
{
  display: block;
  margin-top: 15px;
  color: white;
}

#menu-main-menu > li
{
  padding: 0 10px 0 0;
  display: block;
}

.search
{
  -webkit-appearance: textfield;
  float:right;
  margin-top: 14px;
  border-radius: 20px;
}

.btn-custom
{
  background-color: #51b53f;
  color: white;
}


/* W3 Cards */

  #leftCard
  {
   display: inline-block;
   width: 300px;
   margin-left: 30px;
  }

  #middleCard
  {
    display: inline-block;
    width: 300px;
    margin-left: 30px;
  }
  
  .w3-card-4 .w3-blue
  {
    background-color: #2196F3 !important;
  }
  .w3-card-4 .w3-blue:hover
  {
    background-color: #0059b4 !important;
  }

  /* Weather Icons */

  .wi-day-sunny
  {
    color: #FFEB3B;
    font-size:50px;
  }

/* Main Container */

#main-content
{
  /*Find better way to push content over*/
  /*margin-left: 100px;*/
  min-height: 100px;
  padding-top: 20px;

}

/* Footer */

footer
{
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #3a3a3a;
  color: white; 
 /* z-index: 2000;*/
}

#footerText
{
  position: absolute;
  width: 100%;
  text-align: left;
  bottom: 0;
  height: 15px;
}
