/*body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}*/

*
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 50;
}

/* Default */
  .navbar-default
  {
    background-color: #1976D2;
    border-radius: 0 !important;
  }
/* Brand */
  .navbar .navbar-brand
  {
    color:white;
  }
  .navbar .navbar-brand:visited
  {
    color:white;
  }
  .navbar .navbar-brand:hover
  {
    color:white;
    background-color: #0059b4;
  }

/* List */
  .navbar .nav > li > a
  {
    color: white;
  }
  .navbar .nav > li > a:visited
  {
    color: white;
  }
  .navbar .nav > li > a:hover
  {
    color: white;
    background-color: #0059b4;
  }
  .navbar .nav > li.active > a
  {
    background-color: #0059b4;
    color: white;
  }
  .navbar .nav > li.active > a:visited
  {
    background-color: #0059b4;
    color: white;
  }
  .navbar .nav > li.active > a:hover
  {
    background-color: #0059b4;
    color: white;
  }

  /* W3 Cards */

  #leftCard
  {
   display: inline-block;
   width: 300px;
   margin-left: 30px;
  }

  #middleCard
  {
    display: inline-block;
    width: 300px;
    margin-left: 30px;
  }
  
  .w3-card-4 .w3-blue
  {
    background-color: #2196F3 !important;
  }

  /* Weather Icons */

  .wi-day-sunny
  {
    color: #FFEB3B;
    font-size:50px;
  }

footer
{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 65px;
  width: 100%;
  background-color: #1976D2;
  color: white; 
}
