<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Mean Dash</title>
  <script type="text/javascript" src="/jquery/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/open-sans/open-sans.css" type="text/css" />
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <script type="text/javascript" src="/angular/angular.js"></script>
  <script type="text/javascript" src="/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/controllers/homeController.js"></script>
  <!-- <script type="text/javascript" src="/js/scripts/weather.js"></script> -->
  <script type="text/javascript" src="/js/scripts/travel.js"></script>
  <script type="text/javascript" src="/js/scripts/301.js"></script>
  <script type="text/javascript" src="/js/scripts/pocket.py"></script>
  <script type="text/javascript" src="/js/scripts/pockettest.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
  <!-- <link rel="stylesheet" type="text/css" href="/css/reset.css"> -->
  <link rel="stylesheet" type="text/css" href="/css/weather-icons.css">
  <script src="https://use.fontawesome.com/ad891a8ac1.js"></script>
</head>
<body>

  <!-- Navbar -->

<header class="primary" role="banner">
  <section class="top-nav">
    <div class="wrap">
      <div class="logo">
        <a href="#/"><img style="height: 48px; width:48px;" src="/img/testlogo.png"></a>
      </div>
      <div class="user-nav">
        <nav id="user-nav">
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <section class="middle-nav">
    <div class="wrap">
      <nav id="main-nav" role="navigation">
        <ul id="menu-main-menu">
          <li><a href="#301"></a>301 Calc</li>
          <li id="menu-item-2"><a href="#travel"></a>Travel Calc</li>
          <li id="menu-item-2"><a href="#dash"></a>Home</li>
        </ul>
      </nav>
      <div class="search">
        <form id="search-form">
          <input id="i1" placeholder="search">
          <button class="btn btn-custom" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </section>
</header>

  <!-- Main Body -->

  <section id="main-content" class="container-fluid">
    <div ng-view>
      <!-- Partials Rendered Here -->
    </div>
  </section> 

<!-- Footer -->

<footer>
  <p id="footerText">&copy; Mike Cammarato 2016</p>
</footer>
</body>
</html>