<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Mean Dash</title>
  <script type="text/javascript" src="/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/jquery-validation/jquery.validate.js"></script>
  <script type="text/javascript" src="/js/scripts/userForm.js"></script>
  <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/open-sans/open-sans.css" type="text/css" />
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <script type="text/javascript" src="/angular/angular.js"></script>
  <script type="text/javascript" src="/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/controllers/users-controller.js"></script>
  <script type="text/javascript" src="/js/scripts/weather.js"></script>
  <script type="text/javascript" src="/js/scripts/301Validation.js"></script>
  <script type="text/javascript" src="/js/scripts/301.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/hovercss/hover.css">
  <link rel="stylesheet" type="text/css" href="/css/weather-icons.css">
  <script src="https://use.fontawesome.com/ad891a8ac1.js"></script>
  <script type="text/javascript" src="/js/scripts/pocket.js"></script>
</head>
<body>

  <!-- Navbar -->

  <header>
    <div class="nav-wrap">
      <ul class="nav-links">
        <li><a href="#/">Home</a></li>
        <li><a href="#signup">Signup</a></li>
        <li><a href="#card">Card</a></li>
        <li><a href="#form">form</a></li>
        <li><a href="#301">301</a></li>
      </ul>
    </div>
  </header>

  <!-- Main Body -->

  <section id="main-content" class="container-fluid">
    <div ng-view>
      <!-- Partials Rendered Here -->
    </div>
  </section>
</body>
<script type="text/javascript" src="/js/scripts/scripts.js"></script>
</html>
